---
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <section class="mx-auto max-w-prose pt-24 text-white">
    <h1 class="text-3xl text-shadow-lg shadow-teal-500">{frontmatter.title}</h1>
    <img src={frontmatter.image.url} width="100" class={frontmatter.image.url ? "pt-4" : "hidden"} alt={frontmatter.image.alt} />
    <p class="pt-4">{frontmatter.pubDate.slice(0, 10)}</p>
    <p class="pt-4"><em>{frontmatter.description}</em></p>
    <p class="pt-4">Written by: {frontmatter.author}</p>
    <div class="prose prose-slate prose-invert pt-12">
      <slot />
    </div>
  </section>
</Layout>
