---
export interface Props {
  title: string;
}

const { title } = Astro.props;

const navigation = [
  { name: 'Blog', href: '/blog' },
  { name: 'Projects', href: '/projects' },
];

let scriptSource: string | null = '/stats/js/script.outbound-links.js';
let apiUrl: string | null = '/stats/api/event';
let domain: string | null = 'dyllanullrich.com';

if (Astro.url.hostname === 'localhost') {
  scriptSource = null;
  apiUrl = null;
  domain = null;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script defer src={scriptSource} data-api={apiUrl} data-domain={domain}
    ></script>
  </head>

  <body class="bg-slate-950">
    <header class="bg-slate-900">
      <nav class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8" aria-label="Top">
        <div class="flex w-full items-center justify-between py-1.5">
          <div class="flex items-center">
            <a href="/">
              <img
                src="/images/du-logo.svg"
                width="50"
                alt="Get (Dylan) Ullrich or Die Trying Logo"
              />
            </a>
          </div>
          <div class="ml-10 space-x-4">
            <div class="ml-10 space-x-8 lg:block">
              {
                navigation.map((link) => (
                  <a
                    href={link.href}
                    class="text-base font-medium text-gray-400 hover:text-gray-100"
                  >
                    {link.name}
                  </a>
                ))
              }
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer class="fixed bottom-0 w-full">
      <div
        class="mx-auto flex items-center justify-center py-5 px-4 sm:px-6 lg:px-8"
      >
        <div class="mt-8 md:order-1 md:mt-0">
          <p class="text-center text-base text-gray-400">
            &copy; 2023 Get Ullrich or Die Trying
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
