---
// Import base styles
import '../styles/base.css';
import { Icon } from 'astro-icon/components';
import Connect from '../components/Connect.astro';

export interface Props {
  title: string;
}

const { title } = Astro.props;

let scriptSource: string | null = '/stats/js/script.outbound-links.js';
let apiUrl: string | null = '/stats/api/event';
let domain: string | null = 'dyllanullrich.com';

if (Astro.url.hostname === 'localhost') {
  scriptSource = null;
  apiUrl = null;
  domain = null;
}

const navigation = [
  {
    icon: 'heroicons:folder-open',
    name: 'Projects',
    href: '/projects',
  },
  {
    icon: 'heroicons:chat-bubble-bottom-center-text',
    name: 'Blog',
    href: '/blog',
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script defer src={scriptSource} data-api={apiUrl} data-domain={domain}
    ></script>
  </head>

  <body class="flex h-screen flex-col bg-slate-950">
    <header class="h-min bg-slate-900 py-2">
      <nav class="mx-auto max-w-[1920px] px-4" aria-label="Top">
        <div class="flex w-full items-center justify-between">
          <div class="flex items-center space-x-5">
            <a href="/" title="Home">
              <img
                src="/du-logo.png"
                width="25"
                alt="Developer Dylan"
                class="hvr-primary"
              />
            </a>
            {
              navigation.map((link) => (
                <a
                  href={link.href}
                  title={link.name || link.href}
                  target={link.href.startsWith('h') ? '_blank' : '_self'}
                  class="hvr-primary flex cursor-pointer items-center text-xl font-medium text-gray-400 hover:text-gray-100"
                >
                  {link.icon ? (
                    <Icon name={link.icon} class="mr-2" size={18} />
                  ) : (
                    ''
                  )}
                  <p>{link.name}</p>
                </a>
              ))
            }
          </div>
          <Connect />
        </div>
      </nav>
    </header>
    <main class="flex-1">
      <slot />
    </main>
    <footer class="mx-auto py-5">
      <Connect iconSize={20} showText={false} />
      <p class="pt-6 text-center text-base text-gray-400">
        &copy; 2023 Get Ullrich or Die Trying
      </p>
    </footer>
  </body>
</html>
