---
import { Icon } from 'astro-icon/components';
export interface Props {
  title: string;
}

const { title } = Astro.props;

let scriptSource: string | null = '/stats/js/script.outbound-links.js';
let apiUrl: string | null = '/stats/api/event';
let domain: string | null = 'dyllanullrich.com';

if (Astro.url.hostname === 'localhost') {
  scriptSource = null;
  apiUrl = null;
  domain = null;
}

const navigation = {
  internal: [
    {
      icon: 'heroicons:folder-open',
      name: 'Projects',
      href: '/projects',
    },
    {
      icon: 'heroicons:chat-bubble-bottom-center-text',
      name: 'Blog',
      href: '/blog',
    },
  ],
  external: [
    {
      icon: 'line-md:github',
      name: '',
      href: 'https://github.com/dylanullrich',
    },
    {
      icon: 'line-md:linkedin',
      name: '',
      href: 'https://www.linkedin.com/in/dsullrich',
    },
    /* {
      icon: 'simple-icons:matrix',
      name: '',
      href: '',
    }, */
    {
      icon: 'line-md:email',
      name: 'Contact',
      href: 'mailto:dev@dylan.cat',
    },
  ],
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script defer src={scriptSource} data-api={apiUrl} data-domain={domain}
    ></script>
  </head>

  <body class="bg-slate-950 flex flex-col h-screen">
    <header class="bg-slate-900 h-min py-2">
      <nav class="mx-auto px-4 max-w-[1920px]" aria-label="Top">
        <div class="flex w-full items-center justify-between">
          <div class="flex items-center space-x-5">
            <a href="/">
              <img
                src="/du-logo.png"
                width="25"
                alt="Developer Dylan"
                class="origin-bottom hover:-rotate-12"
              />
            </a>
            {
              navigation.internal.map((link) => (
                <a
                  href={link.href}
                  title={link.name || link.href}
                  target={link.href.startsWith('h') ? '_blank' : '_self'}
                  class="flex cursor-pointer items-center text-lg font-medium text-gray-400 hover:text-gray-100"
                >
                  {link.icon ? (
                    <Icon name={link.icon} class="mr-2" size={15} />
                  ) : (
                    ''
                  )}
                  <p>{link.name}</p>
                </a>
              ))
            }
          </div>
          <div class="flex items-center space-x-3">
            {
              navigation.external.map((link) => (
                <a
                  href={link.href}
                  title={link.name || link.href}
                  target={link.href.startsWith('h') ? '_blank' : '_self'}
                  class="flex cursor-pointer items-center text-lg font-medium text-gray-400 hover:text-gray-100"
                >
                  <p class="text-xl">{link.name}</p>
                  {link.icon ? (
                    <Icon name={link.icon} class="ml-2" size={25} />
                  ) : (
                    ''
                  )}
                </a>
              ))
            }
          </div>
        </div>
      </nav>
    </header>
    <main class="flex-1">
      <slot />
    </main>
    <footer class="py-5">
      <p class="text-center text-base text-gray-400">
        &copy; 2023 Get Ullrich or Die Trying
      </p>
    </footer>
  </body>
</html>
